# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home3/akiluvco/portfolio.benes.fi/packages/auth-service"
PassengerBaseURI "/"
PassengerNodejs "/home3/akiluvco/nodevenv/portfolio.benes.fi/packages/auth-service/20/bin/node"
PassengerAppType node
PassengerStartupFile loader.cjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv ADMIN_EMAIL 'admin@example.com'
SetEnv ADMIN_PASSWORD 'Admin123!'
SetEnv ADMIN_USERNAME 'admin'
SetEnv EMAIL_PASSWORD_NET 'EAPjjgXp^,kZ'
SetEnv JWT_REFRESH_KEY 99ebed0447d762808e925f7193a3e6bcb2d4294383aca3d6b0f0bdfde4630000
SetEnv JWT_SECRET_KEY 9c2089feb0d965579e034c70c26b1c39fab22adfd326c93b6d67775e5bd8fb20
SetEnv SALTROUNDS 10
SetEnv PORT 8080
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END