doctype html
html
    head 
        
        script(src="https://unpkg.com/@tailwindcss/browser@4")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
           
    body
        div.flex-wrap.justify-center.items-center.h-screen 
            h1.text-3xl.font-bold.underline Express.js + Pug Template Engine + Tailwindcss

