doctype html
html
    head 
        
        script(src="https://unpkg.com/@tailwindcss/browser@4")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
           
    body
        div.flex.flex-col.flex-wrap.max-w-sm.justify-center.items-center.h-screen.bg-sky-200.mx-auto
            h1.text-2xl.text-sky-600 Simple Prototype Framework
            ul 
                li + Express.js
                li + Pug Template Engine
                li + Tailwindcss

