nav
    ul.flex.flex-row.justify-around.cursor-pointer
        li
            a(href='/') Home
        li
            a(href='/about') About
        li
            a(href='/contact') Contact
        li
            a(href='/login') Login
        li
            a(href='/register') Signup
        li
            a(href='/logout') Logout
        li
            a(href='/admin') Admin