include template-form

doctype html
html
  include ./head.pug
  body
    include ./header.pug
    
    div.flex.flex-col.flex-wrap.max-w-sm.justify-center.items-center.h-screen.mx-auto    
      +formTemplate('/register', 'POST', [
        { name: 'username', id:'username', type: 'text', label: 'username', placeholder: 'Enter your username', required: true, autocomplete:'on' },
        { name: 'email', id:'email',type: 'email', label: 'email', placeholder: 'Enter your email', required: true, autocomplete:'on' },
        { name: 'password', id:'password', type: 'password', label: 'password', placeholder: 'Enter your password', required: true },
        
      ])
