include template-form

doctype html
html
  include ./head.pug
  body
    include ./header.pug
    h1 Registration Form
    div.flex.flex-col.flex-wrap.max-w-sm.justify-center.items-center.h-screen.mx-auto    
      +formTemplate('/register', 'POST', [
        { name: 'username', type: 'text', label: 'Username', placeholder: 'Enter your username', required: true },
        { name: 'email', type: 'email', label: 'Email', placeholder: 'Enter your email', required: true },
        { name: 'password', type: 'password', label: 'Password', placeholder: 'Enter your password', required: true },
        { name: 'bio', type: 'textarea', label: 'Bio', placeholder: 'Tell us about yourself', required: false }
      ])
